%form.center(action="/validate" method="POST" class="form_field")
  %fieldset
    %input.valid(type="text" name="is_word" class = "title")
    %input.button.form(type="submit" class="submit" value="Validate Word")

%p.center2 
  Searching through
  = @count
  words

.buttonset
  %a.button(href='/words/list/a') Word List
  %a.button(href='/words/new') Add Word
  %a.button(href='/import') Import Words